.user_card{
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 20px;
  align-items: center;
}
#Products{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  cursor: pointer;
  background-color: coral;
}
#Products:hover{
  transform: translateY(-5px);
}
.user_card{
  margin: auto;
  
}
.user_card img{
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}